@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<RatingApp.Models.Movie_Item>



@foreach (RatingApp.Models.Movie_Item obj in Model)
{
    <div class="col-md-4 col-sm-6 soon released">
        <div class="single-portfolio">
            <div class="single-portfolio-img">
                <img src="@Url.Content(obj.imgpath)" alt="portfolio" />

                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                    <i class="icofont icofont-ui-play"></i>
                </a>
            </div>
            <div class="portfolio-content">
                <a href="@Url.Action("newview","dashboard",new { id=obj.movie_id})">     <h2>@obj.Movie_name</h2></a>
                <div class="review">
                    <div class="author-review">
                        <i class="icofont icofont-star"></i>
                        <i class="icofont icofont-star"></i>
                        <i class="icofont icofont-star"></i>
                        <i class="icofont icofont-star"></i>
                        <i class="icofont icofont-star"></i>
                    </div>
                    <h4>@ViewBag.sh</h4>
                </div>
            </div>
        </div>
    </div>

}
<div class="">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded})
</div>