@model RatingApp.Models.newscontainer
@{
    ViewBag.Title = "addnewscontainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/content1.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<style>
    .form-control{
        height: 60px;
    }
</style>




<div class="row">
    <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h3>Welcome</h3>
        <p>You are 30 seconds away from earning your own money!</p>
        @*<input type="submit" name="" value="Login" /><br />*@
    </div>
    <div class="col-md-9 register-right">

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h3 class="register-heading">Apply as a Employee</h3>

                <div class="row register-form">
                    <div class="col-md-9">
                        <br /><br />  <br /><br />  <br /><br />  <br /><br />

                        @using (Html.BeginForm("addnewscontainer", "dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                


                                <div class="form-group">
                                    @Html.LabelFor(model => model.newTid, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-9">

                                        @Html.DropDownListFor(model => model.newTid, ViewBag.list1 as SelectList, "--select--", new { @class = "form-control" })

                                    </div>
                                </div>


                          
                               


                                @Html.LabelFor(model => model.imagepath, htmlAttributes: new { @class = "control-label col-md-2" })
                             

                                <div class="panel panel-body" style="min-height:256px">



                                    <div class="col-md-7">
                                        <div class="btn btn-primary">
                                            <input type="file" id="imageBrowes" name="ImageFile" />
                                        </div>
                                        <hr />

                                        <div id="imgPreview" class="thumbnail" style="display:none">
                                            <img class="img-responsive" id="targetImg" />
                                            <div class="caption">
                                                <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i></a>
                                                <span id="description"></span>
                                            </div>
                                        </div>

                                    </div>


                                 
                                </div>
                              

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-9">
                                        <input type="submit" value="Create" class="btn btn-primary btn-lg active" aria-pressed="true" style="margin-left:10px;" />
                                    </div>
                                </div>


                                @ViewBag.message
                            </div>
                        }

                    


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#imageBrowes").change(function () {

            var File = this.files;

            if (File && File[0]) {
                ReadImage(File[0]);
            }

        })


    })


    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var height = this.height;
                var width = this.width;
                var type = file.type;
                var size = ~~(file.size / 1024) + "KB";

                $("#targetImg").attr('src', _file.target.result);
                $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                $("#imgPreview").show();

            }

        }

    }

    var ClearPreview = function () {
        $("#imageBrowes").val('');
        $("#description").text('');
        $("#imgPreview").hide();

    }


</script>


