@using PagedList;
@using PagedList.Mvc;
@model RatingApp.Models.castratingsT
@{
    ViewBag.Title = "castdetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/js/jquery.min.js"></script>
<link href="~/assets/js/jquery.rateyo.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery.rateyo.js"></script>
<link href="~/assets/css/rating css/ratingcss.css" rel="stylesheet" />
<link href="~/Content/movie details view/ratingdetail.css" rel="stylesheet" />
@*<link href="~/Content/movie details view/yummycs.css" rel="stylesheet" />*@
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
<link href="~/Content/movie details view/details2.css" rel="stylesheet" />
<style>
   

    .like-content {
        display: inline-block;
        width: 100%;
        margin: 2px 0 0;
        padding: 10px 0 0;
        font-size: 18px;
        border-top: 10px dashed #eee;
        text-align: center;
    }

    .like-content span {
        color: #9d9da4;
        font-family: monospace;
    }

    .like-content .btn-secondary {
        display: block;
        margin: 2px auto 0px;
        text-align: center;
        background: #ed2553;
        border-radius: 3px;
        box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
        padding: 10px 17px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        outline: none;
        color: #ffffff;
        text-decoration: none;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .like-content .btn-secondary:hover {
            transform: translateY(-3px);
        }

        .like-content .btn-secondary .fa {
            margin-right: 5px;
        }

    .animate-like {
        animation-name: likeAnimation;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 0.65s;
    }
</style>


<script>

    $(function () {

        $("#rateYo").rateYo({
            starWidth: "40px",
            normalFill: "#A0A0A0",
            numStars: 5,
            maxValue: 5,
            halfStar: true,
            onChange: function (rating, rateYoInstance) {
                $('#rating').val(rating);

            }


        });

    });


</script>


<div class="hero hero3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>


<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-ceb">
                    <img src="@Url.Content(ViewBag.product.cast_profile)" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">@ViewBag.product.cast_name</h1>
                    <p class="ceb-single">Actor  |  Producer</p>
                    <div class="social-link cebsingle-socail">
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                        <a href="#"><i class="ion-social-linkedin"></i></a>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">@ViewBag.product.crew_details</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>
                                                @ViewBag.product.castDiscription
                                            </p>
                                            <p>Hugh Michael Jackman is an Australian actor, singer, multi-instrumentalist, dancer and producer. Jackman has won international recognition for his roles in major films, notably as superhero, period, and romance characters. </p>
                                            <p class="time"><a href="#">See full bio <i class="ion-ios-arrow-right"></i></a></p>
                                            <div class="title-hd-sm">
                                                <h4>Videos & Photos</h4>
                                                <a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










@*<section class="products related-products section" style="margin-top:0px">
        <div class="container" style="margin-top:0px">


            <div class="row">
                @if (ViewBag.gall != null)
                {
                    foreach (var item in ViewBag.gall)
                    {
                        <div class="col-md-3">
                            <div class="product-item">
                                <div class="product-thumb">
                                    <span class="bage">Sale</span>
                                    <img class="img-responsive" src="@Url.Content(item.castIpath)" alt="product-img" />
                                    <div class="preview-meta">
                                        <ul>
                                            <li>
                                                <span data-toggle="modal" data-target="#product-modal">
                                                    <i class="tf-ion-ios-search"></i>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#"><i class="tf-ion-ios-heart"></i></a>
                                            </li>
                                            <li>
                                                <a href=""><i class="tf-ion-android-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a href="product-single.html">Reef Boardsport</a></h4>
                                    <p class="price">$200</p>
                                </div>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </section>*@


<section>
    @Html.Partial("~/Views/Shared/castslider.cshtml")

</section>

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-single">





                    <div class="container" id="container1">
                        <div class="col-md-4">
                            <div class="panel panel-default">

                                <img src="@Url.Content(ViewBag.product.cast_profile)" class="img-thumbnail" alt="Responsive image" style="height:430px;">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="text-center">Skills<span class="glyphicon glyphicon-saved pull-right"></span></h4>
                                </div>
                                <div class="panel-body text-center">
                                    <p class="lead">
                                        <strong>Technology Overview</strong>
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                    <li class="list-group-item">
                                        <div class="skillLineDefault">
                                            <div class="skill pull-left text-center">Ratings</div>
                                            <div class="" style="margin-left:100px;">
                                                @if (Session["id"] != null)
                                                {
                                                    int i = 1;
                                                    foreach (var rev in ViewBag.test)
                                                    {




                                                        <script>
                           $(function(){
                               $('#@("rating" + i)').rateYo({
                                   rating:@rev.castratings,
                                   readOnly: true
                               });
                           });
                                                        </script>
                                                        <div id="@("rating" + i)"></div>





                                                        i++;



                                                    }
                                                }
                                            </div>
                                        </div>
                                        @Html.HiddenFor(model => model.userid)
                                        @Html.HiddenFor(model => model.castid)
                                    </li>


                                    <li class="list-group-item text-center">
                                        <div class="skillLineDefault">
                                            <div class="skill pull-left text-center"> Cast Name</div>
                                            <h3> @ViewBag.product.cast_name</h3>
                                        </div>
                                    </li>
                                    <li class="list-group-item text-center">
                                        <div class="skillLineDefault">
                                            <div class="skill pull-left text-center">Status</div>
                                            <h3> @ViewBag.product.crew_details</h3>
                                        </div>
                                    </li>

                                </ul>
                                <div class="panel-footer text-center">
                                    <button type="button" class="btn btn-primary btn-lg btn-block">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                @if (Session["regname"] == null)
                                {
                                    <span class="contact100-form">
                                        <a href="@Url.Action("index", "Home")">Login here to add ratings</a>
                                    </span>

                                }
                                else
                                {
                                    using (Html.BeginForm("sendcastReview", "dashboard", FormMethod.Post, htmlAttributes: new { @class = "contact100-form validate-form" }))
                                    {

                                        <form>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.castratings, htmlAttributes: new { @class = "label-input100" })
                                                <div id="rateYo"></div>
                                                <input type="hidden" id="rating" name="rating" class="form-control" />
                                                <span class="focus-input100"></span>
                                                @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "label-input100" })
                                                @Html.TextAreaFor(model => model.comments, new { htmlAttributes = new { @class = "form-control", cols = 20, rows = 5 } })
                                            </div>
                                            @Html.HiddenFor(model => model.userid);
                                            @Html.HiddenFor(model => model.castid);
                                            <button type="submit" class="btn btn-primary">Submit</button>

                                        </form>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <form id="myform">
                        <div class="like-content">

                            @Html.HiddenFor(model => model.userid);
                            @Html.HiddenFor(model => model.castid);

                            <button class="btn-secondary like-review" style="margin-left:40px; margin-top:0px; margin-bottom:10px;">
                                <i class="fa fa-heart" aria-hidden="true"></i> Like
                            </button>

                            @if (ViewBag.likesc != 0)
                            {
                                @*<a href="#">Likes <span class="badge">@Model.rv.movielikes</span></a><br>*@
                                <a href="#">Likes <span class="badge">@ViewBag.likesc</span></a><br>
                            }
                            else
                            {
                                <a href="#">
                                    Likes <span class="badge">Currently there aren't any Likes available</span>
                                </a><br>
                            }

                        </div>
                    </form>



                        @*<div class="container-contact100">
                <section>
                    <div class="wrap-contact100">

                        <span class="contact100-form-title">
                            add your ratings and comments
                        </span>
                        @if (Session["regname"] == null)
                        {
                            <span class="contact100-form">
                                <a href="@Url.Action("index", "Home")">Login here to add ratings</a>
                            </span>

                        }
                        else
                        {
                            using (Html.BeginForm("sendcastReview", "dashboard", FormMethod.Post, htmlAttributes: new { @class = "contact100-form validate-form" }))
                            {
                                <label class="label-input100" for="first-name">Tell us your name *</label>
                                @Html.LabelFor(model => model.castratings, htmlAttributes: new { @class = "label-input100" })
                                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                    <input id="first-name" class="input100" type="text" name="first-name" placeholder="First name">
                                    <div id="rateYo"></div>
                                    <input type="hidden" id="rating" name="rating" class="form-control" />
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
                                        <input class="input100" type="text" name="last-name" placeholder="Last name">
                                        <span class="focus-input100"></span>
                                    </div>

                                <label class="label-input100" for="email">Enter your email *</label>
                                @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "label-input100" })
                                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                    <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com">
                                    @Html.TextAreaFor(model => model.comments,new { cols = 20, rows = 5 } new { htmlAttributes = new { @class = "form-control", cols = 20, rows = 5 } })
                                    <span class="focus-input100"></span>
                                </div>

                                @Html.HiddenFor(model => model.userid);
                                @Html.HiddenFor(model => model.castid);

                                @Html.DisplayFor(model => model.userID)
                                    @Html.DisplayFor(model => model.movieT_ID)
                                <label class="label-input100" for="phone">Enter phone number</label>
                                    <div class="wrap-input100">
                                        <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. +1 800 000000">
                                        <span class="focus-input100"></span>
                                    </div>

                                    <label class="label-input100" for="message">Message *</label>
                                    <div class="wrap-input100 validate-input" data-validate="Message is required">
                                        <textarea id="message" class="input100" name="message" placeholder="Write us a message"></textarea>
                                        <span class="focus-input100"></span>
                                    </div>

                                <div class="container-contact100-form-btn">
                                    <button class="contact100-form-btn">
                                            Send Message
                                        </button>
                                    <input type="submit" value="submit" name="bt2" class="contact100-form-btn" />
                                    @Html.HiddenFor(model => model.movieT_ID)
                                </div>
                            }
                        }
                        </form>


                        <div class="contact100-more flex-col-c-m" style="background-image: url('@Url.Content(ViewBag.product.cast_profile)');">

                            <div class="flex-w size1 p-b-47">
                                <div class="txt1 p-r-25">
                                    <span class="lnr lnr-map-marker"></span>
                                </div>

                                <div class="flex-col size2">
                                    <span class="txt1 p-b-20">
                                        Movie Name
                                    </span>

                                    <span class="txt2">
                                        @ViewBag.product.cast_name
                                    </span>
                                </div>
                            </div>

                            <div class="dis-flex size1 p-b-47">
                                <div class="txt1 p-r-25">
                                    <span class="lnr lnr-phone-handset"></span>
                                </div>

                                <div class="flex-col size2">
                                    <span class="txt1 p-b-20">
                                        Movie Realaase Date
                                    </span>

                                    <span class="txt3">
                                        @ViewBag.product.Movie_release
                                    </span>
                                </div>
                            </div>

                            <div class="dis-flex size1 p-b-47">
                                <div class="txt1 p-r-25">
                                    <span class="lnr lnr-envelope"></span>
                                </div>

                                <div class="flex-col size2">
                                    <span class="txt1 p-b-20">
                                        Movie Ratings
                                    </span>
                                    @{int i = 1; }
                                    @foreach (var rev in ViewBag.test)
                                    {



                                        <tr>
                                                <td>username</td>
                                                <td>@rev.account.username</td>
                                            </tr>

                                        <script>
               $(function(){
                   $('#@("rating" +i)').rateYo({
                       rating:@rev.castratings,
                       readOnly: true
                   });
               });
                                        </script>
                                        <div id="@("rating" +i)"></div>





                                        i++;



                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>*@












                        @*<div class="post-social-share">
                <h3 class="post-sub-heading">Share this post</h3>
                <div class="social-media-icons">
                    <ul>
                        <li><a class="facebook" href=""><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a class="twitter" href=""><i class="tf-ion-social-twitter"></i></a></li>
                        <li><a class="dribbble" href=""><i class="tf-ion-social-dribbble-outline"></i></a></li>
                        <li><a class="instagram" href=""><i class="tf-ion-social-instagram"></i></a></li>
                        <li><a class="googleplus" href=""><i class="tf-ion-social-googleplus"></i></a></li>
                    </ul>
                </div>
            </div>*@

                        <div class="post-comments" style="margin-top:30px;">
                            <h3 class="post-sub-heading">@ViewBag.countC Comments</h3>
                            <br />
                            <ul class="media-list comments-list m-bot-50 clearlist">
                                @foreach (var comi in ViewBag.comments)
                                {
                                    <!-- Comment Item start-->
                                    <li class="media">
                                        @if (comi.usertbl.profile_pic != null)
                                        {
                                            <a class="pull-left" href="#">
                                                <img class="media-object comment-avatar" src="@Url.Content(comi.usertbl.profile_pic)" alt="" width="50" height="50">
                                                <h4>@comi.usertbl.profile_pic</h4>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="pull-left" href="#">

                                                <img class="media-object comment-avatar" src="~/castImageFolder/blank-picture-holder.png" alt="" width="50" height="50">
                                            </a>
                                        }
                                        <div class="media-body">
                                            <div class="comment-info">
                                                <h4 class="comment-author">
                                                    <a href="#">@comi.usertbl.username</a>

                                                </h4>
                                                <time>@comi.comdate</time>
                                                <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                @comi.comments
                                            </p>

                                            <!--  second level Comment start-->
                                            @foreach (var rep in comi.castreplies)
                                            {
                                                <div class="media">
                                                    @if (rep.usertbl.profile_pic != null)
                                                    {
                                                        <a class="pull-left" href="#">
                                                            <img class="media-object comment-avatar" src="images/blog/avater-2.jpg" alt="" width="50" height="50">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="pull-left" href="#">

                                                            <img class="media-object comment-avatar" src="~/castImageFolder/blank-picture-holder.png" alt="" width="50" height="50">
                                                        </a>
                                                    }
                                                    <div class="media-body">

                                                        <div class="comment-info">
                                                            <div class="comment-author">
                                                                <a href="#">@rep.usertbl.username</a>
                                                            </div>
                                                            <time>@rep.replydate</time>
                                                            <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                                        </div>

                                                        <p>
                                                            @rep.replys
                                                        </p>


                                                        <!-- third level Comment start -->
                                                        @*<div class="media">

                                                <a class="pull-left" href="#">
                                                    <img class="media-object comment-avatar" src="images/blog/avater-3.jpg" alt="" width="50" height="50">
                                                </a>

                                                <div class="media-body">

                                                    <div class="comment-info">
                                                        <div class="comment-author">
                                                            <a href="#">@rep.usertbl.username</a>
                                                        </div>
                                                        <time>July 02, 2015, at 11:34</time>
                                                        <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                                    </div>

                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                                    </p>


                                                </div>

                                            </div>*@
                                                        <!-- third level Comment end -->
                                                    </div>

                                                </div>
                                            }
                                            @if (Session["id"] != null)
                                            {
                                                using (Html.BeginForm("castreplies", "dashboard", FormMethod.Post))
                                                {
                                                    <div class="row">

                                                        <div class="col-md-6 form-group">
                                                            <!-- Name -->

                                                            <input type="hidden" name="cid" value="@comi.ccid" />
                                                            @*<input type="hidden" name="movieid" value="@com.movieid" />*@
                                                            <input type="hidden" name="userid" value="@comi.userid" />
                                                            <input type="text" name="replys" id="name" class=" form-control" placeholder="Reply *" maxlength="100" required="">
                                                            <input type="hidden" name="castid" value="@comi.castrid" />
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <input type="submit" value="Post" class="btn btn-success" style="margin-top:10px;" />
                                                    </div>

                                                }
                                            }
                                            else
                                            {
                                                <h4><span class="label label-default">Login Here To Reply</span></h4>
                                            }

                                            <!-- second level Comment end -->

                                        </div>

                                    </li>
                                    @*<div class="">
                            @Html.PagedListPager( ,page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
                        </div>*@
                                }

                            </ul>
                        </div>



                        <div class="post-comments-form">
                            <h3 class="post-sub-heading">Leave You Comments</h3>
                            <br />
                            @if (Session["id"] != null)
                            {
                                using (Html.BeginForm("postcom", "dashboard", FormMethod.Post))
                                {

                                    <div class="row">




                                        <div class="form-group col-md-7">
                                            <!-- Website -->
                                            <input type="text" name="cimtxt" id="website" class=" form-control" placeholder="Website" maxlength="100">
                                        </div>

                                        @Html.HiddenFor(Model => Model.castid)

                                        <!-- Send Button -->
                                        <div class="form-group col-md-12">
                                            <button type="submit" class="btn btn-small btn-main ">
                                                Send comment
                                            </button>
                                        </div>


                                    </div>

                                }
                            }
                            else
                            {
                                <h4><span class="label label-default">you Need To Login To Add Comments</span></h4>
                            }
                        </div>


                </div>

            </div>
        </div>
    </div>
</section>

@*<section class="welcome-post-sliders owl-carousel">

         Single Slide
        <div class="welcome-single-slide">
            @if (ViewBag.gall != null)
            {
                foreach (var x in ViewBag.gall)
                {
                     Post Thumb
                    <img src="@Url.Content(x.castIpath)" alt="">
                     Overlay Text
                    <div class="project_title">
                        <div class="post-date-commnents d-flex">
                            <a href="#">May 19, 2017</a>
                            <a href="#">5 Comment</a>
                        </div>
                        <a href="#">
                            <h5>“I’ve Come and I’m Gone”: A Tribute to Istanbul’s Street</h5>
                        </a>
                    </div>
                }
            }
        </div>

    </section>*@

<script type="text/javascript">
    initializeRatings();

    function initializeRatings() {
        $('#rate1').shieldRating({
            max: 7,
            step: 0.1,
            value: 6.3,
            markPreset: false
        });
    }
</script>


<script>
    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
    });


     $(function(){
	$(document).one('click', '.like-review', function(e) {
		$(this).html('<i class="fa fa-heart" aria-hidden="true"></i> You liked this');
        $(this).children('.fa-heart').addClass('animate-like');

          var data = $("#myform").serialize();
            $.ajax({
                type: "POST",
                url: "/dashboard/castlikes",
                data: data,
                success: function () {
                    

                }

            })

    });





});



</script>


