@model RatingApp.Models.shopandmovieModel
@{
    ViewBag.Title = "dashboardshop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/shopownerDash/theme.css" rel="stylesheet" />
 <style>
     .avatar {
  vertical-align: middle;
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
     .prof
     {
         border:1px solid black;
         width:500px;
     }
     .data
     {
          border:1px solid black;
         width:500px;
     }
     .label {
  color: white;
  padding: 8px;
}
     .danger {background-color: #f44336;} /* Red */ 

 </style>
 <div class="page-wrapper">
     <!-- HEADER DESKTOP-->
     <!-- HEADER MOBILE-->
     <!-- END HEADER MOBILE -->
     <!-- PAGE CONTENT-->
     <!-- END BREADCRUMB-->
     <!-- WELCOME-->
     <section class="welcome p-t-10">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <h1 class="title-4">
                         Welcome back
                         <span>@Session["ownername"]</span>
                     </h1>
                     <hr class="line-seprate">
                 </div>
             </div>
         </div>
     </section>
     <!-- END WELCOME-->
     <!-- STATISTIC-->
     <div class="row">
         <div class="col-sm-6">
             <div class="prof">
                 <img src="@Model.ms.shopimage" alt="Avatar" class="avatar">
             </div>
         </div>
         <div class="col-sm-6">
             <div class="data">
                 <span class="label danger">Shop Name</span>
                 <details>
                     <summary>@Model.ms.shopname</summary>
                     <b>
                         @Model.ms.registredDate

                     </b>>

                 </details>

                 <p><b>@Model.ms.mobileno</b> </p>
             </div>
         </div>
         </div>
         <section class="statistic statistic2">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 col-lg-3">
                         <div class="statistic__item statistic__item--green">
                             <h2 class="number">@Model.moviecount</h2>
                             <span class="desc">Movie Category List Avaialable</span>
                             <div class="icon">
                                 <i class="zmdi zmdi-account-o"></i>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                         <div class="statistic__item statistic__item--orange">
                             <h2 class="number">@Model.movie_id</h2>
                             <span class="desc">No of locations avaialable</span>
                             <div class="icon">
                                 <i class="zmdi zmdi-shopping-cart"></i>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                         <div class="statistic__item statistic__item--blue">
                             @if (Model.coupencount != 0)
                             {
                                 <h2 class="number">@Model.coupencount</h2>
                             }
                             else
                             {
                                 <h2 class="number">No Coupens Generated</h2>
                             }
                             <span class="desc">No of Coupens Generated</span>
                             <div class="icon">
                                 <i class="zmdi zmdi-calendar-note"></i>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>
         </section>
         <!-- END STATISTIC-->
         <!-- STATISTIC CHART-->
         <!-- DATA TABLE-->
         <section class="p-t-20">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12">
                         <h3 class="title-5 m-b-35">Shop Movie Item List</h3>

                         <div class="table-responsive table-responsive-data2">
                             @Html.Partial("~/Views/LoadShops/shopmovieslist.cshtml", Model.land)
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <!-- END DATA TABLE-->
         <!-- COPYRIGHT-->
         <!-- END COPYRIGHT-->
     </div>



     <script src="~/Scripts/jquery-3.3.1.min.js"></script>
