@model List<RatingApp.Models.trailertb>




    <div class="row">
        
      @*  @foreach (var item in Model)*@

        @for (int x=0; x < Model.Count(); x++ )
            {
                var item = Model[x];
                <div class="col-md-9">
                <div class="video-area">

                    
                    <img src="@Url.Content(item.coverimage)" alt="video" />
                    <a href="@Url.Content(item.path)" class="popup-youtube">
                        @*<img src="@Url.Content(item.path)" alt="portfolio" />*@
                        <i class="icofont icofont-ui-play"></i>
                    </a>
                    <div class="video-text">
                        <h2>fefefefeffe</h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>

                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4>180k voters</h4>
                        </div>
                    </div>

                </div>
            </div>
            if (Model.Count() > x+1)
            {
                item = Model[x + 1];
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="@Url.Content(item.coverimage)" alt="video" />
                            <a href="@Url.Content(item.path)" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    @if (Model.Count() > x + 1)
                    {
                        item = Model[x + 2];
                    <div class="col-md-12 col-sm-6">
                        <div class="video-area">
                            <img src="@Url.Content(item.coverimage)" alt="video" />
                            <a href="@Url.Content(item.path)" class="popup-youtube">
                                <i class="icofont icofont-ui-play"></i>
                            </a>
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
            break;
        }
    </div>

