@model IEnumerable<RatingApp.Models.shopviewmodel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Movie_Shop.cshtml";
}
<link href="~/Content/movie details view/yummycs.css" rel="stylesheet" />

<link href="~/Content/movie details view/responsive.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/blockbuster/swiper.min.js"></script>





@Html.Partial("~/Views/Shared/sliderview.cshtml")


@*@foreach (var x in Model)
    {

        <div class="col-md-12 text-center"><h3>Product Carousel</h3></div>
        <div class="col-md-6 col-md-offset-3">
            <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">

                <div class="carousel-inner">

                    <div class="item active">
                        <div class="col-md-2 col-sm-4 col-xs-5"><a href="#"><img src="@Url.Content(x.movieitems.imgpath)" class="img-responsive"></a></div>
                    </div>

                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    }*@





@*<div class="instargram_area owl-carousel section_padding_100_0 clearfix" id="portfolio" style="margin-top:20px">

        Instagram Item
        <div class="instagram_gallery_item">
            @foreach (var x in Model)
            {

                <img style="width:300px; height:300px;" src="@Url.Content(x.movieitems.imgpath)" alt="">

                <div class="hover_overlay">
                    <div class="yummy-table">
                        <div class="yummy-table-cell">
                            <div class="follow-me text-center">
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Follow me</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>*@



<div class="container">
    <h3 class="h3">shopping Demo-1 </h3>


    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10">
            @if (TempData["total"] == null)
            {

                <h3>
                    Total Bill: 0 Rs
                </h3>
            }
            else
            {
                <h3> Total Bill: @TempData["total"] Rs</h3>

            }

        </div>


        <div class="col-lg-2 col-md-2 col-sm-2">
            <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"> <span class="btn btn-info">@Html.ActionLink("Check Out", "checkout", "Shop")</span></h3>
        </div>




    </div>





    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="@Url.Content(item.movieitems.imgpath)">
                            
                            <img class="pic-2" src="~/Content/shopcollection/buy..JPG">
                        </a>
                        <ul class="social">
                            <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            <li><a href="@Url.Action("mapLocation", "Shop", new { movieId = item.movieitems.movie_id })" data-tip="Map"><i class="fa fa-map-marker"></i></a></li>
                        </ul>
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">@ViewBag.title1</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                    <div class="product-content">
                        <h3 class="title"><a href="#">@item.movieitems.Movie_name</a></h3>
                        <div class="price">
                            $16.00
                            <span>@item.cart.price</span>
                        </div>
                        <a class="add-to-cart" href="">@Html.ActionLink("add-to-cart", "Adtocart", new { movie_id = item.movieitems.movie_id })</a>
                    </div>
                </div>
            </div>

        }
    </div>

</div>
<hr>





<script>
    $('.carousel[data-type="multi"] .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i = 0; i < 2; i++) {
            next = next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
        }
    });

</script>
