@model List<RatingApp.Models.movieshop>
@{
    ViewBag.Title = "registershops";
    Layout = "~/Views/Shared/registrationpage.cshtml";
}
<script src="~/Content/shopcollection/plugins.js"></script>
<script src="~/Content/shopcollection/main.js"></script>
<link href="~/Content/shopcollection/style.css" rel="stylesheet" />



<h2>registershops</h2>
<main>
    @foreach (var item in Model)
    {
        
<section class="bg-dark-30 showcase-page-header module parallax-bg" style="background-image: url('@Url.Content(item.shopimage)');">
    
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">@item.ownername</div>
            <div class="font-alt mb-40 titan-title-size-4">@item.shopname</div><a class="section-scroll btn btn-border-w btn-round" href="#demos">@item.registredDate</a>
        </div>
    </div>
</section>

    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="callout-text font-alt">
                            <h4 style="margin-top: 0px; font-;">@item.ownername</h4>
                            <p style="margin-bottom: 0px;">Download Titan Free today!</p>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="callout-btn-box"><a class="btn btn-border-w btn-circle" href="https://themewagon.com/themes/titan/">Downlaod Free</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    }

    @*<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="assets/images/showcase_bg.jpg">
        <div class="titan-caption">
            <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Powerful. Multipurpose.</div>
                <div class="font-alt mb-40 titan-title-size-4">100+ Layouts</div><a class="section-scroll btn btn-border-w btn-round" href="#demos">See Demos</a>
            </div>
        </div>
    </section>
    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="callout-text font-alt">
                            <h4 style="margin-top: 0px; font-;">Start Creating Beautiful Websites</h4>
                            <p style="margin-bottom: 0px;">Download Titan Free today!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="callout-btn-box"><a class="btn btn-border-w btn-circle" href="https://themewagon.com/themes/titan/">Downlaod Free</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="assets/images/showcase_bg.jpg">
        <div class="titan-caption">
            <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Powerful. Multipurpose.</div>
                <div class="font-alt mb-40 titan-title-size-4">100+ Layouts</div><a class="section-scroll btn btn-border-w btn-round" href="#demos">See Demos</a>
            </div>
        </div>
    </section>
    <div class="main showcase-page">
        <section class="module-extra-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="callout-text font-alt">
                            <h4 style="margin-top: 0px; font-;">Start Creating Beautiful Websites</h4>
                            <p style="margin-bottom: 0px;">Download Titan Free today!</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="callout-btn-box"><a class="btn btn-border-w btn-circle" href="https://themewagon.com/themes/titan/">Downlaod Free</a></div>
                    </div>
                </div>
            </div>
        </section>
    </div>*@

</main>